
		<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid"> 
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#example-navbar-collapse">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="https://jianger.space">{{site.title}}</a>
		</div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">		
			{% if site.menu %}
			  <ul class="nav navbar-nav">
			    {% for name_path in site.menu %}
			      {% assign name = name_path[0] %}
			      {% assign path = name_path[1] %}
			      {% assign itemName = name | downcase %}
			      <li {% if name=='album' %}  class="active" {% endif %} >
			        <a href="{{ path | relative_url }}" rel="section">
			          {% if site.menu_icons.enable %}
			            <i class="menu-item-icon fa fa-fw fa-{{site.menu_icons[itemName] | default: 'question-circle' | downcase }}"></i>
			          {% endif %}
			          {{ __.menu[name] }}
			        </a>
			      </li>
			    {% endfor %}
			  </ul>
			{% endif %}
			</div>
		</div>
	</nav>
	<div id="box" class="box"></div>
	<script src="https://www.layuicdn.com/layui/layui.js"></script>
	<script src="/assets/js/src/album.js"></script>
	<hr>
	{% if site.valine.enable %}
		<div id="comments"></div>
		<!--Leancloud 操作库:-->
		<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
		<!--Valine 的核心代码库:-->
		<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
		<script>
			new Valine({
			  av: AV,
			  el: '#comments',
			  app_id: '{{ site.valine.appid }}',
			  app_key: '{{ site.valine.appkey }}',
			  path: '{{ site.valine.path }}',
			  placeholder: '{{ site.valine.placeholder }}',
			  notify: '{{ site.valine.notify }}',
			  verify: '{{ site.valine.verify }}',
			  })
		</script>
	{% endif %}
