<!--定制首页轮播图-->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div width="100%" height="320px" scrolling="no">

	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">

      <!-- 轮播（Carousel）指标 -->
      <ol class="carousel-indicators">
      {% for item in site.carousel.item %}
        <li data-target="#myCarousel" data-slide-to="{{forloop.index0}}"></li>
      {% endfor %}
      </ol>

      <!-- 轮播（Carousel）项目 -->
      <div class="carousel-inner" style="border-radius: 12px;">
       {% for item in site.carousel.item %}
              {% if forloop.index0==0 %}
                  <a class="item active" {% if item.link %} href="{{ item.link }}" {% endif %} style="height: 100%;">
            	      <img src="{{item.img}}" class="nofancybox"  style="width: 100%;" >
	          </a>
              {% else %}
                  <a class="item" {% if item.link %} href="{{ item.link }}" {% endif %} style="height: 100%;">
                      <img src="{{item.img}}" class="nofancybox"  style="width: 100%;" >
	          </a>
              {% endif %}
        {% endfor %}
      </div>

      <!-- 轮播（Carousel）导航 -->
      <a class="left carousel-control" data-target="#myCarousel" href="javascript:void(0);" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" data-target="#myCarousel" href="javascript:void(0);" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
   </div>
   <!--<div  class="rights" style="width: 30%; height: 290px; margin-right: 0px;margin-left: 20px;float: left;">
       <!-- 天气插件 -->
       <!--<iframe width="250px" scrolling="no" height="50px" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&color=%23&bdc=%23&icon=1&py=beijing&num=2&site=12"></iframe>

  	   <!-- r热门排行 -->
  	   <!--<div class="my-carousel">
         <a href="{{site.url}}/top" target="_blank">
            <img class="right-siders nofancybox" src="/assets/images/hot.png" width="100%"/>
         </a>
  	   </div>-->

  	   <!-- 时光留影 -->
  	   <!--<div class="my-carousel">
         <a href="{{site.url}}/album" target="_blank">
           <img class="right-siders nofancybox" src="/assets/images/time.png"/>
         </a>
  	   </div>-->

      <!-- 推荐阅读 -->
      <!--<div class="my-carousel">
        <a href="{{site.url}}/life" target="_blank">
          <img class="right-siders nofancybox" src="/assets/images/read.png"/>
        </a>
      </div>

   </div>-->

</div>
