<!-- 灯笼 1 -->
<div class="deng-box">
	<div class="deng">
		<div class="deng-a">
			<div class="deng-b">
				<div class="deng-t">节</div>
			</div>
		</div>
		<div class="shui shui-a"></div>
		<div class="shui shui-b"></div>
		<div class="shui shui-c"></div>
	</div>
</div>
<!-- 灯笼 2 -->
<div class="deng-box1">
	<div class="deng">
		<div class="deng-a">
			<div class="deng-b">
				<div class="deng-t">春</div>
			</div>
		</div>
		<div class="shui shui-a"></div>
		<div class="shui shui-b"></div>
		<div class="shui shui-c"></div>
	</div>
</div>