<!doctype html>
{% include _blocks/title.html %}
{% assign html_class = 'theme-next ' | append: site.scheme %}
{% if site.use_motion %}
  {% assign html_class = html_class | append: ' use-motion' %}
{% endif %}
<html class="{{ html_class | downcase }}" lang="{{ site.language }}">
<head>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% include _partials/head.html %}
{% include _partials/head/custom-head.html %}

  <title>相册 | Jianger's Blog</title>
  {% include _third-party/analytics/index.html %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>  
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/album.css">
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/assets/js/src/darkmode.js"></script>
</head>
<body itemscope itemtype="http://schema.org/WebPage" lang="{{ page.lang | default: page.language | default: site.language }}">
	{% if site.Darkmode %}
		<button onclick="changemode();" class="darkmode-toggle--white darkmode-toggle">🌓</button>
  	{% endif %}
	{% include _partials/album.html %}
	{% include _scripts/boostrap.html %}
 </body>
</html>
