---
layout: page
type: links
title: 友情链接
---

{% if site.friends.enable %} 
<ul class="friends">
	{% for item in site.friends.items %}
		<li class="links-container">
		    <a href="{{item.link}}" target="_blank" class="links-link" title="{{item.content}}">
			  <div class="links-item">
			    <div class="links-img" style="background:url('{{item.avatar}}');width: 100%;padding-top: 100%;background-repeat: no-repeat;background-size: cover;"></div>
				<div class="links-title">
				  <h4>{{item.name}}</h4>
				</div>
		      </div>
			  </a>
		</li>
	{% endfor %}
</ul>
{% endif %}

<hr>
<h3 id="本站信息">本站信息</h3>
<ul>
  <li>名称：Jianger’s Blog</li>
  <li>头像：https://jianger.space/assets/images/avatar.jpeg</li>
  <li>介绍：热爱生活｜分享技术｜鼓捣科技</li>
  <li>网址：https://jianger.space</li>
</ul>
<p>想要交换友链，根据上面的信息，把本站添加到你的网站中，然后在下方评论中贴出你的网站信息~</p>
<p>( •̆ ᵕ •̆ )◞ ❤</p>
<hr>

  <div id="comments" style="margin-top: 50px;"></div>
  <!--Leancloud 操作库:-->
  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
  <!--Valine 的核心代码库:-->
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <script>
     new Valine({
        av: AV,
        el: '#comments',
        app_id: 'e1OuTd58aBj3h9ptV4oIaNBY-9Nh9j0Va',
        app_key: 'CqYVue1Ivtz4TJnBVjUvY9NY',
        path: '',
        placeholder: '快来做我的邻居吧！',
        notify: 'true',
        verify: 'true',
    })
  </script>